
/* Selectors */

* {
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
}

 p {
    font-weight: normal;
    color: black;
}

h2 {
  font-weight: bolder;
}

a {
    font-weight: bold;
}

nav {
    list-style-type: none;
    /* margin: 30px 0; */
    margin: 40px 0 30px;
}

li {
    margin-bottom: 10px;
}

h1,
h3,  
p {
    font-size: 1.00rem;
    margin-bottom: 1.5rem;
}

.col {
    padding-right: 1rem;
    padding-left: 1rem;
}

.img {
    max-width: 100%;
    border-radius: 12px;
    border: 14px solid green;
    box-shadow: 0 0 0 14px green;

}

.image1 {
    width: 100%;
}



.bold {
    font-weight: bold;
}

.color {
    color: white;
}


                  /* Link Styles */


a:link {
    
    text-decoration: none;
    display: block;
    background-color: rgb(250, 242, 242) url('../images/abstract.jpeg') no-repeat center;
}

a:link main-footer{
    color: black;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
}




/* Layout Styles */

.wrapper {
    font: normal 1em/1.5 'Roboto', sans-serif;
    margin: 0 auto;
    line-height: 1.6;
    width: 70%;
    text-align: center;

}

.container {
    padding: 0 1em;
}

.main-header {
    background:  rgb(250, 242, 242) url('../images/abstract.jpeg') no-repeat center;
    background-size: cover;
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 60px;
}

.name {
    text-align: center;
    background:  rgb(250, 242, 242) url('../images/abstract.jpeg') no-repeat center;;
    margin: 0;
    display: inline;
    font-size: 1.5rem;
    color: rgba(255, 255,255, 1);
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

nav a {
    text-align: center;
    display: block;
    padding: 10px 15px;
}

.main-content, 
.main-header {
    margin-left: 10%;
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 900px;

    
}

.main-footer {
    padding: 2em 0;
    border-top: 2px solid lightgrey;
    text-align: center;
    color: black;
}

.main-footer ul li {
    display: block;
    margin-right: 50px;
}

/*Media Queries*/

  @media (min-width: 768px) {  

   .img {
        float: right;
        width: 200px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 25px;
        padding: 10px;
        position: relative;
        bottom: 50px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .name {
       
        display: inline-block;
    }

    .contacts{
        width: 100%;
    }
    
    nav li {
        margin-bottom: 2rem;
        margin-right: 2rem;
        display: inline-block;
    }

    .wrapper {
        width: 75%;
        overflow: auto;
    }


    .col1,
    .col3,
    .col5 {
        float: left;
        width: 50%;
    }

    .col2,
    .col4,
    .col6 {
        float: right;
        width: 50%;
    }

    .image1 {
        margin-top: 5px;
        margin-right: 25px;
    }


    .main-footer ul li {
        display: inline-block;
        margin-right: 50px;
    }

    .student {
        float: left;
    }


    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

 }

    @media (min-width: 1024px) { /* Desktop   */

       .img {
            float: right;
            width: 200px;
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
            padding: 10px;
        }

        .container {
            width: 80%;
            max-width: 1150px;
            margin: 0 auto;
            display: inline-block;
        }

        nav {
            position: relative;
        }

        nav li {
            top: 20px;
            margin-right: .5px;
            display: inline-block;
            margin-left: 40px;
            position: relative;
            left: 150px;
            bottom: 70px;
        }
        
        .name {
          float: left;
          text-align: center;
          position: relative;
          top: 60px;
          right: 100px;
          }
          .student {
              float: left;
          }
           
           
        .clearfix::after {
            content: " ";
            display: table;
            clear: both;
        }

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6 {
        width: 30%;
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 1em;
        max-width: 1000px;
        display: inline-block
    }
}



